menu "tamp"
		
	config TAMP_32BIT
	bool "Use ESP-optimized code for compression"
	default y
	help
		Enables TAMP_32BIT (32-bit speed optimizations).
		On ESP32-S3, this also enables use of the chip's SIMD instructions ("PIE")
		for increased speed.
		
endmenu