name: Build Wheels

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'tamp/**'
      - 'pyproject.toml'
      - 'build.py'
      - '.github/workflows/build_wheels.yaml'
  push:
    tags:
      - 'v*.*.*'
    paths:
      - 'tamp/**'
      - 'pyproject.toml'
      - 'build.py'
      - '.github/workflows/build_wheels.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: 'sdist'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    env:
      PYTHON: 3.12
      POETRY_HOME: '~/poetry'

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Cache Poetry Install
        uses: actions/cache@v4
        id: cached-poetry
        with:
          path: ${{ env.POETRY_HOME }}
          key: poetry-cache-${{ runner.os }}-${{ env.PYTHON }}-${{ hashFiles('.github/workflows/build_wheels.yaml') }}

      - name: Install poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1
        with:
          version: 1.8.5

      - name: Add Poetry to PATH # Needs to be separate from install-poetry because cache.
        run: |
          echo "$POETRY_HOME/bin" >> $GITHUB_PATH

      - name: Configure Poetry # Needs to be separate from install-poetry because cache.
        run: |
          poetry self add poetry-dynamic-versioning[plugin]
          poetry config virtualenvs.create true
          poetry config virtualenvs.in-project true

      - name: Build sdist
        run: |
          poetry self add "poetry-dynamic-versioning[plugin]"
          poetry build --format=sdist

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: dist/*.tar.gz

  build_wheels_windows:
    name: '${{ matrix.os }} ${{ matrix.cibw_archs }} ${{ matrix.cibw_build }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        cibw_build: ['cp39-*', 'cp310-*', 'cp311-*', 'cp312-*', 'cp313-*', 'cp314-*']
        cibw_archs: ['AMD64', 'x86']
    env:
      PYTHON: 3.12

    steps:
      - name: 'Set environment variables (Windows)'
        shell: pwsh
        run: |
          (Get-ItemProperty "HKLM:System\CurrentControlSet\Control\FileSystem").LongPathsEnabled

      - name: Sanitize matrix.cibw_build
        id: sanitize_build
        run: echo "CIBW_BUILD_SANITIZED=$(echo '${{ matrix.cibw_build }}' | sed 's/\*/_/g')" >> $GITHUB_ENV
        shell: bash

      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests --no-dataset

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ env.CIBW_BUILD_SANITIZED }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl

  build_wheels_windows_arm64:
    name: '${{ matrix.os }} ${{ matrix.cibw_archs }} ${{ matrix.cibw_build }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-11-arm]
        cibw_build: ['cp39-*', 'cp310-*', 'cp311-*', 'cp312-*', 'cp313-*', 'cp314-*']
        cibw_archs: ['ARM64']
    env:
      PYTHON: 3.12

    steps:
      - name: 'Set environment variables (Windows)'
        shell: pwsh
        run: |
          (Get-ItemProperty "HKLM:System\CurrentControlSet\Control\FileSystem").LongPathsEnabled

      - name: Sanitize matrix.cibw_build
        id: sanitize_build
        run: echo "CIBW_BUILD_SANITIZED=$(echo '${{ matrix.cibw_build }}' | sed 's/\*/_/g')" >> $GITHUB_ENV
        shell: bash

      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests --no-dataset

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ env.CIBW_BUILD_SANITIZED }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl

  build_wheels_linux:
    name: '${{ matrix.os }} ${{ matrix.cibw_archs }} ${{ matrix.cibw_build }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04] # TODO: change back to ubuntu-latest; see https://github.com/actions/runner-images/issues/11471
        cibw_build: ['cp39-*', 'cp310-*', 'cp311-*', 'cp312-*', 'cp313-*', 'cp314-*']
        cibw_archs: ['x86_64', 'i686']
    env:
      PYTHON: 3.12

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sanitize matrix.cibw_build
        id: sanitize_build
        run: echo "CIBW_BUILD_SANITIZED=$(echo '${{ matrix.cibw_build }}' | sed 's/\*/_/g')" >> $GITHUB_ENV
        shell: bash

      - name: Set up QEMU
        if: matrix.cibw_archs != 'x86_64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests --no-dataset

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ env.CIBW_BUILD_SANITIZED }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl

  build_wheels_linux_arm64:
    name: '${{ matrix.os }} ${{ matrix.cibw_archs }} ${{ matrix.cibw_build }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04-arm] # Native ARM runner
        cibw_build: ['cp39-*', 'cp310-*', 'cp311-*', 'cp312-*', 'cp313-*', 'cp314-*']
        cibw_archs: ['aarch64']
    env:
      PYTHON: 3.12

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sanitize matrix.cibw_build
        id: sanitize_build
        run: echo "CIBW_BUILD_SANITIZED=$(echo '${{ matrix.cibw_build }}' | sed 's/\*/_/g')" >> $GITHUB_ENV
        shell: bash

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests --no-dataset

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ env.CIBW_BUILD_SANITIZED }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl

  build_wheels_linux_ppc64le:
    name: '${{ matrix.os }} ${{ matrix.cibw_archs }} ${{ matrix.cibw_build }}'
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        cibw_build: ['cp39-*', 'cp310-*', 'cp311-*', 'cp312-*', 'cp313-*', 'cp314-*']
        cibw_archs: ['ppc64le']
    env:
      PYTHON: 3.12

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sanitize matrix.cibw_build
        id: sanitize_build
        run: echo "CIBW_BUILD_SANITIZED=$(echo '${{ matrix.cibw_build }}' | sed 's/\*/_/g')" >> $GITHUB_ENV
        shell: bash

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests --no-dataset

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ env.CIBW_BUILD_SANITIZED }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl

  build_wheels_macos_x86_64:
    name: '${{ matrix.os }} ${{ matrix.cibw_archs }} ${{ matrix.cibw_build }}'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15-intel]
        cibw_build: ['cp39-*', 'cp310-*', 'cp311-*', 'cp312-*', 'cp313-*', 'cp314-*']
        cibw_archs: ['x86_64']
    env:
      PYTHON: 3.12

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sanitize matrix.cibw_build
        id: sanitize_build
        run: echo "CIBW_BUILD_SANITIZED=$(echo '${{ matrix.cibw_build }}' | sed 's/\*/_/g')" >> $GITHUB_ENV
        shell: bash

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests --no-dataset

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ env.CIBW_BUILD_SANITIZED }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl

  build_wheels_macos_arm64:
    name: '${{ matrix.os }} ${{ matrix.cibw_archs }} ${{ matrix.cibw_build }}'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15] # ARM runner
        cibw_build: ['cp39-*', 'cp310-*', 'cp311-*', 'cp312-*', 'cp313-*', 'cp314-*']
        cibw_archs: ['arm64']
    env:
      PYTHON: 3.12

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sanitize matrix.cibw_build
        id: sanitize_build
        run: echo "CIBW_BUILD_SANITIZED=$(echo '${{ matrix.cibw_build }}' | sed 's/\*/_/g')" >> $GITHUB_ENV
        shell: bash

      - name: Set up python ${{ env.PYTHON }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON }}

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BUILD_FRONTEND: 'pip'
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests --no-dataset

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ env.CIBW_BUILD_SANITIZED }}-${{ matrix.cibw_archs }}
          path: wheelhouse/*.whl

  validate_wheels:
    name: 'Validate wheels'
    if: always() && !cancelled()
    needs:
      [
        'build_sdist',
        'build_wheels_windows',
        'build_wheels_windows_arm64',
        'build_wheels_linux',
        'build_wheels_linux_arm64',
        'build_wheels_linux_ppc64le',
        'build_wheels_macos_x86_64',
        'build_wheels_macos_arm64',
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Check build job results
        if: contains(needs.*.result, 'failure')
        run: exit 1

      - uses: actions/download-artifact@v4
        with:
          path: wheels
          pattern: wheels-*
          merge-multiple: true

      - name: Validate wheels
        run: |
          python -m pip install check-wheel-contents
          check-wheel-contents wheels/*.whl

  upload_to_pypi:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
    needs: ['validate_wheels']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: wheels
          pattern: wheels-*
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          packages-dir: wheels/
          skip-existing: true
