name: Push LittleFS to Espressif Component Service

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "v*.*.*"

jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install compote
        run: |
          pip install "idf-component-manager~=1.3"

      - name: Copy source into espidf
        run: |
          cp README.md espidf/
          cp -r tamp/_c_src/* espidf/

      - name: Build package
        working-directory: ./espidf
        run: |
          compote component pack --name=tamp --version=git

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: esp-idf-component
          path: espidf/dist/*.tgz

      - name: Publish to ESP Component Registry
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
        working-directory: ./espidf
        env:
          IDF_COMPONENT_API_TOKEN: ${{ secrets.ESP_IDF_COMPONENT_API_TOKEN }}
        run: |
          compote component upload --name=tamp --version=git
